/* src/global.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat';
}

/* ::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c14b6c;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f9a8b5;
} */
